html {
    width:100%;    
    height: 100%;
}

header {
    width: 15%;
    display: flex;
    }

.headerMaisQuadro{
    display: flex;
    height: 95%;
    width: 100%;
}

.logo {
    display: inline;
    margin-left: 20%;
    margin-top: 25%;
    top: 0%;
    bottom: 0%;  
    height: 48px;
    width: 120px;
}



.quadroDeRespostas {
    width: 40%;
    background: #FFFFFF;
    box-shadow: 0px 24px 32px -8px;
    border-radius: 32px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* display: flex; */
    height: auto;
    text-align: center;
    color: #343A40;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    padding: 10px;
    margin: 2%;
    position: relative;
}

body {
    background-size: cover;
    background-color: #F3F5FC;
    width: 100%;
    height: 100%;
}

.pagina{
    height: 100%;
    width: 100%;

}

form {
    padding-top: 15%;
    border-style: hidden;
    height: 60%;
}

#texto {
    width: auto;
    height: auto;
    border-style: hidden;
    background-color: #F3F5FC;
    outline:none;
    resize:none;
    overflow:auto;
}

#texto:focus{
    border-style: hidden;
}

.aviso { 
    display: flex;

}

.imagemExclamacao {
    margin-left: 4%;
    margin-bottom: 10px;
    display: inline;
    margin-right: 5px;

}

.textoAviso {
    display: inline;
    margin-left: 0;
    margin-bottom: 10px;
    color: #495057;
}

.botoes{
    text-align: center;
    width: 100%;
}

.botaoCriptografar:active {
    transform: scale(.96);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.botaoCriptografar {
    width: 45%;
    height: 67px;
    background-color: #0A3871;
    color: white;
    border-radius: 24px;
    display: inline;
    margin: 10px;
    font-family: 'Inter';
    font-style: normal;
    text-align: center;
    border: initial;
    font-size: large;
}

.botaoDescriptografar {
    width: 45%;
    height: 67px;
    background-color: #0A3871;
    color: #0A3871;
    border-radius: 24px;
    font-family: 'Inter';
    border: 1px solid #0A3871;
    box-sizing: border-box;
    background: #D8DFE8;
    margin: 10px;
    font-size: large;
}

.botaoDescriptografar:active {
    transform: scale(.96);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.semDados {
    color: #343A40
    
    ;
}

main {
    display: flex;
    width: 100%;
    height: 100%;
}

.centro {
    height: auto;
    width: 100%;
}

.digiteOTexto {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: #495057;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
   
}

.texto {
    width: 100%;
    height: 100%;
    border-style: hidden;
    background-color: #F3F5FC;
    outline:none;
    resize:none;
    overflow:auto;
    font-size: 1rem;
    margin-left: 4%;
}

.figuraDoQuadro{
    width: 100%;
}

.botaoCopiar {
    width: 90%;
    height: 67px;
    background-color: #0A3871;
    color: white;
    border-radius: 24px;
    display: inline;
    margin: 10px;
    font-family: 'Inter';
    font-style: normal;
    text-align: center;
    border: initial;
    font-size: large;
    position: initial;
    bottom: 20%;
}

.botaoCopiar:active {
    transform: scale(.96);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.itensParaExcluir{
    flex: auto;
}

